{% set page_title = 'About Us' %}
{% set navbar_dark = true %}
{% set navbar_mobile = 'style-2' %}
{% set navbar_mobile_dark = true %}
{% set navbar_fixed = true %}
{% set navbar_expand = true %}
{% set footer = 'default-2' %}
{% set footer_dark = true %}

{% extends 'layouts/layout-1.html' %}


{% block content %}
<div class="py-160 min-vh-100 d-flex align-items-center position-relative lines-style-3">
    <div class="line text-white"></div>

    <div class="background bg-dark">
        <div class="background-image jarallax" data-jarallax data-speed="0.8">
            <img src="assets/images/about/about-us-1920-1080.jpg" class="jarallax-img" alt="">
        </div>
        <div class="background-color" style="background-color: #0e0e0e; opacity: .2;"></div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-12 col-lg-8 show-on-scroll" data-show-duration="700">
                <h1 class="text-white mb-0">We were born from a collective idea, a need for sharing.</h1>
            </div>
        </div>
    </div>
</div>

<div class="py-160 shape-parent overflow-hidden">
    <div class="shape justify-content-end">
        <svg class="me-n90 mt-n160" width="641" height="641" viewBox="0 0 641 641" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="320.5" cy="320.5" r="320.5" fill="#F5F5F5"/>
        </svg>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="row gh-5 gv-5">
                    <div class="col-12 col-md-10 col-lg-9">
                        <p class="subtitle mt-n10 show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="50">who we are</p>
                        <h3 class="mb-n7 show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="150">An award-winning design & dev team that is proud of our work 👋</h3>
                    </div>

                    <div class="col-12 col-md-6 show-on-scroll" data-show-duration="700">
                        <p class="lead mb-30">Over 10 years of combined experience, and know a thing or two about.</p>
                        <p class="mb-3">Creepeth. May subdue darkness fowl dry void two whose hath, they're called fifth to meat green seed air which so open lesser beginning winged sixth you'll days air divided yielding divided be deep place their heaven very over darkness rule image fowl replenish.</p>
                        <img class="w-100 mt-100" src="assets/images/about/about-us-content.jpg" alt="">
                    </div>

                    <div class="col-12 col-md-6 show-on-scroll" data-show-duration="700">
                        <div class="swiper swiper-button-style-3 mt-7" data-swiper-slides="1" data-swiper-speed="600" data-swiper-loop="true" data-swiper-parallax="true">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide overflow-hidden">
                                        <div class="swiper-image" data-swiper-parallax-x="20%">
                                            <img class="w-100" src="assets/images/about/about-us-slide-940-1000.jpg" alt="">
                                        </div>
                                    </div>

                                    <div class="swiper-slide overflow-hidden">
                                        <div class="swiper-image" data-swiper-parallax-x="20%">
                                            <img class="w-100" src="assets/images/about/about-us-slide-2-940-1000.jpg" alt="">
                                        </div>
                                    </div>

                                    <div class="swiper-slide overflow-hidden">
                                        <div class="swiper-image" data-swiper-parallax-x="20%">
                                            <img class="w-100" src="assets/images/about/about-us-slide-3-940-1000.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-button-next bg-white">{{ icon.arrow_right | safe }}</div>
                            <div class="swiper-button-prev bg-white">{{ icon.arrow_left | safe }}</div>
                        </div>

                        <p class="pt-3 mt-100 mb-0">Evening saw there were bring. Spirit can't replenish from. Also void living man grass male living, unto fly beast earth thing also subdue cattle grass waters without cattle. His them seasons. Living winged give very given first is. Life saw it saying waters very fly. Fly dry had fill grass Two his saying.</p>
                    </div>
                </div>


                <hr class="mt-160 pb-8">

                <div class="mb-n7">
                    <div class="row gv-2 justify-content-around text-center">
                        <div class="col-sm-6 col-md-auto">
                            <div class="number-box show-on-scroll" data-show-duration="500" data-show-distance="15" data-show-delay="50">
                                <div class="number-box-title h1">106</div>
                                <div class="number-box-subtitle">proyectos</div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-auto">
                            <div class="number-box show-on-scroll" data-show-duration="500" data-show-distance="15" data-show-delay="150">
                                <div class="number-box-title h1">20</div>
                                <div class="number-box-subtitle">años</div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-auto">
                            <div class="number-box show-on-scroll" data-show-duration="500" data-show-distance="15" data-show-delay="250">
                                <div class="number-box-title h1">+2000</div>
                                <div class="number-box-subtitle">piezas unicas</div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-auto">
                            <div class="number-box show-on-scroll" data-show-duration="500" data-show-distance="15" data-show-delay="350">
                                <div class="number-box-title h1">9</div>
                                <div class="number-box-subtitle">awards</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="py-130 bg-dark text-white shape-parent overflow-hidden lines-style-4">
    <div class="line"></div>
    <div class="line"></div>

    <div class="shape mt-n160">
        <svg data-rellax-speed="-1" width="535" height="525" viewBox="0 0 535 525" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="214.5" cy="204.5" r="320.5" fill="#202020"/>
        </svg>
    </div>

    <div class="container">
        <div class="row gh-1 gv-3">
            <div class="col-lg-4 col-xl-3">
                <div class="subtitle">Nuestros clientes</div>
                <h2 class="h3 text-white">Crecemos gracias a quienes confían en nosotros.</h2>
            </div>

            <div class="d-none d-lg-block col-lg-1 col-xl-2"></div>
            <div class="col-lg-6">
                <div class="swiper swiper-review-2" data-swiper-slides="1" data-swiper-gap="30" data-swiper-grabCursor="true">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            {% macro review_slide(name="") %}
                            <div class="swiper-slide">
                                <div class="media media-review">
                                    <img src="{{ review[name].avatar }}" class="media-img rounded-circle" alt="">
                                    <div class="media-body align-self-center">
                                        <h5 class="media-title mt-0 text-white">{{ review[name].name }}</h5>
                                        <div class="media-subtitle">{{ review[name].subtitle }}</div>
                                    </div>
                                    <p class="media-text mb-0 lead">{{ review[name].text }}</p>
                                </div>
                            </div>
                            {% endmacro %}

                            {{ review_slide('brian_newton') }}
                            {{ review_slide('june_oliver') }}
                            {{ review_slide('james_hamilton') }}
                        </div>
                    </div>

                    <div class="swiper-button-next">{{ icon.arrow_right | safe }}</div>
                    <div class="swiper-button-prev">{{ icon.arrow_left | safe }}</div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="py-160">
    <div class="container">
        <div class="row gv-5 align-items-center justify-content-between">
            <div class="col-12 col-lg-6">
                <div class="row gh-1 gv-1 align-items-center">
                    <div class="col-12 col-sm-auto show-on-scroll" data-show-duration="600" data-show-distance="30" data-show-origin="left">
                        <img width="200" src="assets/images/service/service-2-400-480.jpg" alt="">
                    </div>
                    <div class="col-12 col-sm show-on-scroll" data-show-duration="600" data-show-distance="15" data-show-origin="left" data-show-delay="200">
                        <img class="w-100" src="assets/images/service/service-3-740-940.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-5">
                {{ feature_global('quality', false, 'pb-5 show-on-scroll', 'data-show-delay=150 data-show-distance=20 data-show-duration=500') }}
                {{ feature_global('service', false, 'mt-40 pb-5 show-on-scroll', 'data-show-delay=250 data-show-distance=20 data-show-duration=500') }}
                {{ feature_global('people', false, 'mt-40 show-on-scroll', 'data-show-delay=350 data-show-distance=20 data-show-duration=500') }}
            </div>
        </div>


        <div class="row justify-content-center mt-160">
            <div class="col-12 col-xl-10 mt-8">
                <div class="row gh-1 gv-2 text-center text-sm-start justify-content-center justify-content-sm-between">
                    <div class="col-md col-lg-6">
                        <h2 class="display-4 mt-n30 mb-n3">Nuestro equipo</h2>
                    </div>
                    <div class="d-none d-lg-block col-auto">
                        <hr class="mt-30 mx-2 width-70px">
                    </div>
                    <div class="col-auto">
                        <a href="contacto.html" class="btn btn-dark btn-with-ball">Trabaja con nosotros</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper pt-30 mt-60" data-swiper-slides="4" data-swiper-breakpoints="520:1, 828:2, 1024:3" data-swiper-grabcursor="true" data-swiper-gap="30">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                <!-- Estas son las slides: TODAS deben ir aquí dentro -->

                <!-- DUEÑOS -->

                <div class="swiper-slide">{{ card_person_global('julio_macias', classes='card-image-xl bg-white') }}</div>
                <div class="swiper-slide">{{ card_person_global('jordi_macias', classes='card-image-xl bg-white') }}</div>

                <!-- ADMINISTRACION -->

                <div class="swiper-slide">{{ card_person_global('maria_belmonte', classes='card-image-xl bg-white') }}</div>
                <div class="swiper-slide">{{ card_person_global('montserrat_cortina', classes='card-image-xl bg-white') }}</div>
                <div class="swiper-slide">{{ card_person_global('yolanda_baena', classes='card-image-xl bg-white') }}</div>
                
                <!-- DISEÑO Y ARQUITECTURA-->

                <div class="swiper-slide">{{ card_person_global('viviam_miralles', classes='card-image-xl bg-white') }}</div>
                <div class="swiper-slide">{{ card_person_global('laia_olmo', classes='card-image-xl bg-white') }}</div>
                <div class="swiper-slide">{{ card_person_global('mireia_nubiola', classes='card-image-xl bg-white') }}</div>

                <!-- TALLER DE ROBOTICA -->
                <div class="swiper-slide">{{ card_person_global('roybel_chechelev', classes='card-image-xl bg-white') }}</div>
                <div class="swiper-slide">{{ card_person_global('leonel_murguia', classes='card-image-xl bg-white') }}</div>
                <div class="swiper-slide">{{ card_person_global('geli_navarro', classes='card-image-xl bg-white') }}</div>


                <!-- JEFES DE OBRA -->

                <div class="swiper-slide">{{ card_person_global('jose_miguel', classes='card-image-xl bg-white') }}</div>
                <div class="swiper-slide">{{ card_person_global('javier_estebas', classes='card-image-xl bg-white') }}</div>
                
                <!-- INFORMATICO -->
                
                <div class="swiper-slide">{{ card_person_global('cesar_arenas', classes='card-image-xl bg-white') }}</div>
                
                <!-- OTROS -->

                </div>
        </div>
    </div>
</div>




{% endblock %}
